Cleaned CSV Overview

In [18]:
import pandas as pd 
df = pd.read_csv('D:/Dhruv Malik/Projects/healthcare_de_project/data/cleaned/cleaned_members.csv')
print(df.head())
print(df.tail())
print(df.shape)
print(df.info)
print(df.dtypes)

   member_id first_name last_name         dob gender       city
0        101       John       Doe  1986-02-15      M     Mumbai
1        102       Asha     Patel  1990-08-22      F      Delhi
2        103     Ramesh     Kumar  1978-12-01      M  Bangalore
3        104       Jaya     Yadav  1972-09-01      F       Pune
4        105        Dev    Burman  1969-09-10      M    Gurgaon
   member_id first_name last_name         dob gender       city
0        101       John       Doe  1986-02-15      M     Mumbai
1        102       Asha     Patel  1990-08-22      F      Delhi
2        103     Ramesh     Kumar  1978-12-01      M  Bangalore
3        104       Jaya     Yadav  1972-09-01      F       Pune
4        105        Dev    Burman  1969-09-10      M    Gurgaon
(5, 6)
<bound method DataFrame.info of    member_id first_name last_name         dob gender       city
0        101       John       Doe  1986-02-15      M     Mumbai
1        102       Asha     Patel  1990-08-22      F      Delhi
2        103     Ramesh     Kumar  1978-12-01      M  Bangalore
3        104       Jaya     Yadav  1972-09-01      F       Pune
4        105        Dev    Burman  1969-09-10      M    Gurgaon>
member_id      int64
first_name    object
last_name     object
dob           object
gender        object
city          object
dtype: object

Descriptive Analysis

In [19]:
df.describe(include='object')

       first_name last_name         dob gender    city
count           5         5           5      5       5
unique          5         5           5      2       5
top          John       Doe  1986-02-15      M  Mumbai
freq            1         1           1      3       1

Missing Value Analysis

In [22]:
print('Missing values\n',df.isna().sum())
print('Null values\n',df.isnull().sum())

Missing values
 member_id     0
first_name    0
last_name     0
dob           0
gender        0
city          0
dtype: int64
Null values
 member_id     0
first_name    0
last_name     0
dob           0
gender        0
city          0
dtype: int64

Checking whitespace/blanks in first_name, last_name

In [7]:
print(df['first_name'].str.contains(r'\d').sum())
print(df['last_name'].str.contains(r'\d').sum())

0
0

In [10]:
print(df['first_name'].str.strip().ne(df['first_name']).sum())
print(df['last_name'].str.strip().ne(df['last_name']).sum())

0
0

Converting column 'dob' to datetime format column

In [11]:
df['dob'] = pd.to_datetime(df['dob'], errors='coerce')
df[df['dob'].isna()]

Empty DataFrame
Columns: [member_id, first_name, last_name, dob, gender, city]
Index: []

Checking value counts

In [13]:
df['gender'].value_counts()

gender
M    3
F    2
Name: count, dtype: int64

In [14]:
df[~df['gender'].isin(['M','F'])]

Empty DataFrame
Columns: [member_id, first_name, last_name, dob, gender, city]
Index: []

In [15]:
df['city'].value_counts()

city
Mumbai       1
Delhi        1
Bangalore    1
Pune         1
Gurgaon      1
Name: count, dtype: int64

In [16]:
df['city'].str.upper().value_counts()

city
MUMBAI       1
DELHI        1
BANGALORE    1
PUNE         1
GURGAON      1
Name: count, dtype: int64